/* Шрифты:
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --main-font: 'Roboto', sans-serif;

  /* для лого: */
  --secondary-font: 'Raleway', sans-serif;

  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;

  --bgc-main: #2f303a;
  --bgc-secondary: #f5f4fa;

  --card-gap: 30px;
}

body {
  color: #000000;
  font-family: var(--main-font);
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.adress {
  font-style: normal;
}
/* ---------------------------------- COMPONENTS -------------------------------- */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo > span {
  color: var(--accent-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.contact-icons {
  margin-right: 10px;
}

/* ---------------------------------- END COMPONENTS -------------------------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*---------------------------- HEDER ----------------------------*/

.header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  display: block;
}
.navigation-link,
.contact-mail,
.contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.navigation-link {
  color: #212121;
}

.contact-mail {
  margin-right: 50px;
}

.contact-mail,
.contact-phone {
  display: flex;
  align-items: center;
  color: #757575;
}
.contact-mail:hover,
.contact-phone:hover,
.contact-mail:focus,
.contact-phone:focus,
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header .adress {
  display: flex;
}
/* ------------------- HERO ---------------------------------- */

.hero {
  height: 600px;
  background-color: var(--bgc-main);
  text-align: center;
  padding: 200px;
}
.caption {
  margin: 0 auto;
  text-align: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* ----------------------- FEATURES -------------------------- */
.features {
  padding: 94px 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
}
.features-list-item {
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-left: var(--card-gap);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;

  color: var(--title-color);
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------------------------- WORK ---------------------------- */
.work {
  padding-bottom: 94px;
}
.work .title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  margin-left: calc(-1 * var(--card-gap));
}
.work-list-item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
}
.work-image {
}

/* --------------------------- TEAM ------------------------------------ */
.team {
  background-color: var(--bgc-secondary);
  padding: 94px 0;
}
.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
}
.team-list-item {
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-left: var(--card-gap);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-content {
  padding: 30px;
}

/* ------------------------------------------------ PORTFOLIO ------------------------------ */
.portfolio {
  border-top: 1px solid #ececec;
  padding: 94px 0;
}
.portfolio-nav-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.portfolio-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-link {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bgc-secondary);
  border-radius: 4px;
}
.portfolio-nav-link:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}
.projects-list-item {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}
.projects-content {
  padding: 20px 24px;
}
/* ------------------------------- FOOTER ----------------------------- */
.footer {
  background-color: var(--bgc-main);
  padding: 60px 0;
}
.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}
.adress-list-item:not(:last-child) {
  margin-bottom: 6px;
}
.post-adress,
.footer-mail,
.footer-phone {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.post-adress {
  color: #ffffff;
}
.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

.post-adress:hover,
.footer-mail:hover,
.footer-phone:hover,
.post-adress:focus,
.footer-mail:focus,
.footer-phone:focus {
  color: var(--accent-color);
}
